<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="containers">
    <header><%- include('../partials/header'); %></header>

    <main
      class="container d-flex justify-content-center align-items-center w-100"
      style="height: 80vh"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class=""></div>
            <div class="card text-dark">
              <div class="card-header">Error</div>
              <div class="card-body text-center">
                <h5 class="card-title"><%= errors %></h5>
                <p class="card-text mb-5"><%= message %></p>
                <a href="/" class="btn btn-primary mt-5">Go Homepage</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
